.panel {
  display: flex;
  flex-direction: column;
  min-height: 200rem;
  width: 430rem;
  background-color: var(--panelColorNormal);

  // Disable scrolling on the panel content
  :global(.content) {
    overflow: hidden !important;
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20rem;
  text-transform: none;
}
.headerText {
  margin-left: -5rem;
  font-size: 115%;
}
