.panel {
  width: 1200rem; // Slightly increased panel width to accommodate all columns
  max-width: 1300rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20rem;
  text-transform: none;
}

.headerText {
  margin-left: 5rem;
  font-size: 115%;
}

.tableHeader {
  max-width: 1200rem;
  margin: 0 auto;
  padding: 0 25rem;
}
.row {
  width: 100%;
  height: 30rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 25rem;
  min-width: min-content;
}

.headerRow {
   width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem 25rem;
  min-width: min-content;
}

.headerRow {
  padding: 1rem 0;
}

.nameColumn {
  display: flex;
  min-width: 200rem;
  margin-right: 5rem;
  text-align: left;
}

.serviceColumn {
  min-width: 100rem;
  margin-left: 30rem;
  text-align: center;
}

.employeeColumn {
  min-width: 100rem;
  margin-left: 30rem;
  text-align: center;
}

.vehicleColumn {
  min-width: 100rem;
  margin-left: 30rem;
  text-align: center;
}

.resourcesColumn {
  min-width: 120rem;
  margin-left: 30rem;
  text-align: center;
}

.efficiencyColumn {
  min-width: 90rem;
  margin-left: 30rem;
  text-align: center;
}

.profitabilityColumn {
  min-width: 60rem;
  margin-left: 30rem;
  text-align: right;
}

.locationColumn {
  min-width: 60rem;
  margin-left: 50rem;
}
.scrollable {
  max-height: 550rem;
  overflow-y: auto;
  width: 100%;
  padding: 8rem;
}

.dataDivider {
  display: flex;
  height: 4rem;
  flex-direction: column;
  justify-content: center;

  &::after {
    content: '';
    border-bottom: 1rem solid gray;
    width: 100%;
  }
}

.loadingText {
  text-align: center;
  padding: 20rem;
}

.scrollableContent {
  padding: 1rem 0;
}

.tooltipContent {
  z-index: 10;
  max-width: 300rem;
  word-wrap: break-word;
}

.tooltipText {
  margin-bottom: 1rem;
  color: #ffffff;

  p {
    margin-bottom: 5rem;
    font-size: 15rem;
    text-align: left;
    display: flex;
    flex-direction: row;
  }
}

.factorRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.factorName {
  display: flex;
  width: 200rem;
  flex: 2;
  text-align: left;
}

.factorValue {
  flex: 1;
  text-align: right;
}

.factorResult {
  margin-left: 10rem;
  flex: 1;
  text-align: right;
  font-weight: bold;
}

.positive {
  color: #4CAF50;
}

.negative {
  color: #F44336;
}

.neutral {
  color: #FFFFFF;
}
.virtualListContainer {
  height: 500rem;
  width: 100%;

}
.magnifierIcon {
  width: 30rem;
  height: 30rem;
  border-top-left-radius:  var(--panelRadiusInner);
  border-top-right-radius: var(--panelRadiusInner);
  border-bottom-left-radius: var(--panelRadiusInner);
  border-bottom-right-radius: var(--panelRadiusInner);
  margin-left: 50rem;

}

