.headerRow {
  display: flex;
  align-items: center;
  padding: 8px 0;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--accentColorNormal);
  top: 0;
  z-index: 1;
}

.col1 {
  width: 130rem;
  text-align: left;
  margin-left: 15rem;
  font-size: var(--fontSizeS);
}
.col2 {
  width: 55rem;
  text-align: center;
  font-size: var(--fontSizeS);
}
.col3 {
  width: 55rem;
  text-align: center;
  font-size: var(--fontSizeS);
}
.col4 {
  width: 55rem;
  text-align: center;
  font-size: var(--fontSizeS);
}
.col5 {
  width: 75rem;
  text-align: center;
  font-size: var(--fontSizeS);
}
.col6 {
  width: 55rem;
  text-align: center;
  font-size: var(--fontSizeS);
}
.col7 {
  width: 55rem;
  text-align: center;
  font-size: var(--fontSizeS);
}
.col8 {
  width: 60rem;
  text-align: center;
  font-size: var(--fontSizeS);
}
.col9 {
  width: 60rem;
  text-align: center;
  font-size: var(--fontSizeS);
}
