.panel {
  width: 500rem;
  display: flex;
  flex-direction: column; /* Ensure proper layout */
  background-color: var(--panelColorNormal); /* Ensure consistency with Workforce section */
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20rem;
  text-transform: none;
}

.headerText {
  margin-left: -5rem;
  font-size: 115%;
}

.labels_L7Q {
  box-sizing: border-box;
  border: 1px solid gray;
  background-color: var(--panelColorNormal);
}

.row_S2v {
  display: flex;
  justify-content: center;
  background-color: var(--panelColorNormal); /* Added to maintain consistency with other sections */
}

.small_ExK {
  font-size: 80%;
}

.negative_YWY {
  color: red;
}

.positive_zrK {
  color: green;
}

.space_uKL {
  height: 3rem;
}

.centerStyle {
  justify-content: center;
}

.centerStyle16 {
  width: 16%;
  background-color: var(--panelColorNormal);
}

.centerStyle30 {
  width: 30%;
  background-color: var(--panelColorNormal);
}

.centerStyle70 {
  width: 70%;
  background-color: var(--panelColorNormal);
}

.centerStyle34 {
  width: 34%;
  background-color: var(--panelColorNormal);
}

.centerStyle2 {
  width: 2%;
  background-color: var(--panelColorNormal);
}

.centerStyle36 {
  width: 36%;
  background-color: var(--panelColorNormal);
}

.centerStyle50 {
  width: 50%;
  background-color: var(--panelColorNormal);
}

.centerStyle15 {
  width: 15%;
  background-color: var(--panelColorNormal);
}

.divider {
  display: flex;
  height: 4rem;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid gray;
}
