.panel {
  width: 700rem;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 20rem;
  text-transform: none;
}

.headerText {
  margin-left: 5rem;
  font-size: 115%;
}

.tableHeader {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 25rem;
}

.row {
  width: 100%;
  padding: 1rem 25rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.headerRow {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}
.householdColumn {
  flex: 0 0 20%;
  display: flex;
}
.column {
 
  flex: 0 0 20%;
  text-align: center;
}

.nameColumn {
  flex: 0 0 20%;
  text-align: left;
  padding-right: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.loadingText {
  text-align: center;
  padding: 20rem;
}

.scrollableContent {
  padding: 1rem 0;
}

.dataDivider {
  display: flex;
  height: 4rem;
  flex-direction: column;
  justify-content: center;

  &::after {
    content: '';
    border-bottom: 1px solid gray;
    width: 100%;
  }
}

.tooltipContent {
  white-space: pre-line;
  
  font-size: 15rem;
  line-height: 1.6;
  color: white;
  min-width: 300px;
}
.tooltipText {
  margin: 0.01rem;
  color: #ffffff;
  
  p {
      margin: 0.01rem;
      font-size: 13rem;
      text-align: left;
      display: flex;
      flex-direction: row;
  }
}
.chartSection {
  margin-bottom: 1rem;
  color: #ffffff;
  
  p {
      margin: 1rem;
      font-size: 13rem;
      text-align: left;
      display: flex;
      flex-direction: row;
  }
}
.chartTitle {
  font-size: 13rem;
  font-weight: bold;
  margin-top: 5rem;
  color: #ccc;
}
.boldText {
  margin: 0 0.25em;  // Adds spacing before and after
  font-weight: bold;
  display: inline-block;
}
.chartBar {
  display: flex;
  height:13rem;
  margin-bottom: 5rem;
}

.chartBarSegment {
  transition: width 0.3s ease;
}

.chartLegendItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13rem;
  margin-bottom: 1rem;
}

.colorIndicator {
  width: 1.2em;
  height: 1.2em;
  margin-right: 0.5em;
  display: inline-block;
  border-top-left-radius: 4rem 4rem;
    border-top-right-radius: 4rem 4rem;
    border-bottom-left-radius: 4rem 4rem;
    border-bottom-right-radius: 4rem 4rem;
}

.legendLabel {
  display: flex;
  align-items: center;
}
.multiline {
    white-space: pre-line;
    line-height: 1.5;
}
